body{
  background-color: #ACFCD9;
  color: black; 
  font-family: 'Poiret One', cursive;
  font-weight: 500px;
}
#position{
  text-align: center;
  margin-top: 10%;
}
p{
  font-family: 'Prociono', serif;
}
img{
  width: auto;
}