body{
  background-color: #ACFCD9;
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: 500px;
}
#position{
  text-align: center;
  margin-top: 10%;
}
p{
  font-family:  'Prociono', serif;
}
#table{
  border: 10px #FFE8E1;
  padding: 5%;
  background-color: #FFE8E1;
  color: #190933; 
}